*,
*::before,
*::after{
  box-sizing:border-box;
}
:root {
  --white-colour: white;
  --dark-colour: #525252;
  --light-grey: lightgrey;
  --main-font: 'Raleway', sans-serif;
  --normal-text: 300 ;
  --bold-text: 800;
  --large-text:1000;
}
#content {
  padding-top: 50px;
  padding-bottom:10px;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  font-family: var(--main-font);
  font-weight: var(--normal-text);
}
.h1 {
  margin:0px;
  font-family: var(--main-font);
  font-weight: normal;
}
body,html{
  background: darkgrey;
  margin:0px ;
  padding: 0px;
  width:100%;
  min-height:100%;
  overflow-x: hidden;
  margin-bottom: -20px;

}
/* Footer */
.footer {
  width:100%;
  height: auto;
  font-family: var(--main-font);
  font-weight: var(--bold-text);
  background: var(--dark-colour);
  padding-top: 20px;
  text-align: center;
}
.footer-icons{
  list-style: none;
  display: flex;
  justify-content: center;
}
.footer-img{
  max-width: 50px;
  max-height: 50px;
  border-radius: 50px;
  padding: 10px;
  justify-content: center;
}
.footer-img:hover{
  transform: scale(1.5,1.5);
  opacity:1;
}
.email, .email:link {
    color:var(--white-colour);
    text-decoration: none;
}
.email:hover {
    font-weight: var(--large-text);
    text-decoration:underline;
}
/* Nav Bar */
.nav{
  position:absolute;
  width:100%;
  padding-left: 10px;
  margin:0px;
  background-color: var(--dark-colour);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.4);
  font-family: var(--main-font);
  font-weight: var(--bold-text);

}
.nav a, .nav a:link .nav h1{
  float:right;
  color: var(--white-colour);
  text-align: center;
  padding:14px 16px;
  text-decoration: none;
}
.nav a:hover{
  text-decoration: underline;
}
.nav a.current{
  background-color:var(--light-grey);
}
.nav h1{
  color: var(--white-colour);
  padding-top: 10px;
  margin: auto;
  float:left;
}

/* Sections */
.section {
  padding-top: 30px;
  padding-left: 5px;
  padding-right: 5px;
  display:inline-block;
  width:100%;
  height:auto;
  border-style: inset;
  box-shadow: 5px 5px var(--dark-colour);
}
.intro-image {
  float:left;
  width:250px;
  height:300px;
  margin-right:15px;
}
.welcome-section {
  background: var(--light-grey);
}
/* Travel Gallery */
.gallery {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 8vw);
  grid-gap: 0px;
}

.gallery__img {
  opacity:1;
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
}
.gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 4;
}
.gallery__item--2 {
  grid-column-start: 4;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 4;
}
.gallery__item--3 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 7;
}
.gallery__item--4 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 4;
  grid-row-end: 6;
}
.gallery__item--5 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 7;
  grid-row-end: 9;
}
.gallery__item--6 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 6;
  grid-row-end: 9;
}
