*,
*::before,
*::after{
  box-sizing:border-box;
}
:root {
  --white-colour: white;
  --dark-colour: #ff8080;
  --light-colour: #FFF0F5;
  --medium-colour:#FFDAB9;
  --main-font: 'Raleway', sans-serif;
  --normal-text: 300 ;
  --bold-text: 800;
  --large-text:1000;
}
#content {
  padding-top: 50px;
  padding-bottom:10px;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  font-family: var(--main-font);
  font-weight: var(--normal-text);
}
.h1 {
  margin:0px;
  font-family: var(--main-font);
  font-weight: normal;
}
body,html{
  background:var(--medium-colour);
  margin:0px ;
  padding: 0px;
  width:100%;
  min-height:100%;
  overflow-x: hidden;
  margin-bottom: -20px;

}
/* Footer */
.footer {
  width:100%;
  height: auto;
  font-family: var(--main-font);
  font-weight: var(--bold-text);
  background: var(--dark-colour);
  padding-top: 20px;
  text-align: center;
}
.footer-icons{
  list-style: none;
  display: flex;
  justify-content: center;
}
.footer-img{
  max-width: 50px;
  max-height: 50px;
  border-radius: 50px;
  padding: 10px;
  justify-content: center;
}
.footer-img:hover{
  transform: scale(1.5,1.5);
  opacity:1;
}
.email, .email:link {
    color:var(--white-colour);
    text-decoration: none;
}
.email:hover {
    font-weight: var(--large-text);
    text-decoration:underline;
}
/* Nav Bar */
.nav{
  position:absolute;
  width:100%;
  padding-left: 10px;
  margin:0px;
  background-color: var(--dark-colour);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.4);
  font-family: var(--main-font);
  font-weight: var(--bold-text);

}
.nav a, .nav a:link .nav h1{
  float:right;
  color: var(--white-colour);
  text-align: center;
  padding:14px 16px;
  text-decoration: none;
}
.nav a:hover{
  text-decoration: underline;
}
.nav a.current{
  background-color:var(--light-colour);
}
.nav h1{
  color: var(--white-colour);
  padding-top: 10px;
  margin: auto;
  float:left;
}

/* Sections */
.section {
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 5px;
  display:inline-block;
  width:100%;
  height:auto;
  border: 2px solid ;
  border-radius: 25px;
  box-shadow: 5px 5px var(--dark-colour);
}
.section + .section {
  margin-top:10px;
  margin-bottom: 10px;
}
.intro-image {
  padding-left: 15px;
  float:left;
  width:250px;
  height:300px;
  margin-right:15px;
  padding-bottom:15px;
}
.welcome-section {
  background: var(--light-colour);
}
/* Travel Gallery */
.gallery {
  position: relative;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);
  grid-template-rows: repeat(auto-fit, 8vw);
}

.gallery__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  box-shadow: 1px 5px 5px 1px rgba(0, 0, 0, 0.7);
}
.gallery__photo{
  position:relative;
}
.gallery__img:hover{
  transform:scale(1.05);
}
.gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 4;
}
.gallery__item--2 {
  grid-column-start: 4;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 4;
}
.gallery__item--3 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 7;
}
.gallery__item--4 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 4;
  grid-row-end: 6;
}
.gallery__item--5 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 7;
  grid-row-end: 9;
}
.gallery__item--6 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 6;
  grid-row-end: 9;
}
/* Cat Page */
.cat-gallery{
  width:980px;
  margin: 0 auto;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.cat-gallery .cat-image{
  position:relative;
  width:300px;
  height:300px;
  margin:10px;
  box-sizing: border-box;
  display: inline-block;
}
.cat-gallery .cat-image .faded
{
  position: relative;
  overflow:hidden;
}
.cat-gallery .cat-image .faded img
{
  max-width: 100%;
  max-height: 100%;
  height:300px;
  width:300px;
  transition: transform 2s;
}
.cat-gallery .cat-image:hover .faded img
{
  transform: scale(1.2);
}
.cat-gallery .cat-image .details{
  position:absolute;
  top:10px;
  left:10px;
  bottom:10px;
  right:10px;
  opacity:0;
  background: rgba(0,0,0,.8);
}
.cat-gallery .cat-image:hover .details{
  opacity: 0.8;
}
.cat-gallery .cat-image .details p {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  padding:15px;
  color:var(--light-colour);
}
.button{
  background: var(--light-colour);
  cursor:pointer;
  font-family: var(--main-font);
  font-weight:var(--bold-text);
  padding: 10px 10px;
}
#displayFact{
  border-style: none;
  background: var(--light-colour);
}
.project{
  margin: 5px;
  padding-left: 5px;
  border-radius: 25px;
  border-style:double;
}